# Exclure tous les fichiers objets
*.o
*.a
*.out
**/*.out
**/GitAneServer
# Exclure également les fichiers objets dans les sous-dossiers
**/*.o

#Exclure les fichiers de config perso
.vscode/settings.json
.vscode/c_cpp_properties.json
Console/build
Net/build/GitAneServer
